.validationMessage
    color: red

.modal-backdrop.in
    opacity: 0;

.modal-dialog
    .modal-footer
        margin-top: 0px; 

.table
    .empty
        td
            height: 300px;
            text-align: center;
            padding: 120px;
