.validationMessage
    color: red

.modal-backdrop.in
    opacity: 0;

.modal-dialog
    .modal-footer
        margin-top: 0px; 

.table
    .empty
        td
            height: 300px;
            text-align: center;
            padding: 120px;
            

.interception {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-binding: url("ellipsis.xml#ellipsis");
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
