
<ul class="apps">
	<template v-for="(item,index) in items">
		<li v-show="item._id">
			<div class="header">
				<p class="smaller lighter green">
					{{item.name}}
				</p>
			</div>
			<div class="body">

				<div>
					<div class="pull-left">
						编号
					</div>
					<div class="text interception">
						{{item._id}}
					</div>
				</div>
				<div>
					<div class="pull-left">
						令牌
					</div>
					<div v-on:click='newToken(item)' class="text interception">
						{{item.token == null ? '点击生成令牌' : item.token}}
					</div>
				</div>
				<div>
					<div class="pull-left">
						名称
					</div>
					<div class="text interception">
						{{item.name}}
					</div>
				</div>
				<div>
					<div class="pull-left">
						转发至
					</div>
					<div class="text interception">
						{{item.targetUrl}}
					</div>
				</div>
				<div>
					<div class="pull-left">
						开放注册
					</div>
					<div class="text interception">
					</div>

				</div>
			</div>
			<div class="footer">
				<div class="col-xs-6">

					<button v-on:click="editApp(item)" class="btn btn-primary btn-block">编辑</button>

				</div>
				<div class="col-xs-6">
					<button class="btn btn-success btn-block">详细</button>
				</div>
			</div>
		</li>
	</template>

	<li>
		<div class="header">
			<p class="smaller lighter green">
				添加应用
			</p>
		</div>

		<div v-on:click="newApp" class="add">

			<i class="icon-plus" style="font-size:120px"></i>
		</div>
	</li>
</ul>

<div class="modal fade" name="dlg_application" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">添加应用</h4>
			</div>

			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label">名称</label>
						<div class="col-sm-10">
							<input name="名称" v-model="app.name" type="text" class="form-control" placeholder="请输入应用名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">转发至</label>
						<div class="col-sm-10">
							<input name="目标URL" v-model="app.targetUrl" type="text" class="form-control" placeholder="请输入转发的目标URL">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>

									<input v-model="app.allowRegister" type="checkbox"/> 开放注册接口
								</label>

							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button v-on:click="saveApp()" type="button" class="btn btn-primary">确定</button>
			</div>
		</div>
	</div>
</div>

